
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  align-items: center;
  vertical-align: middle;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.voiceContainer{
  display: flex;
  flex-direction: column;
  background-color: hsl(0,0%,5%);
}

.voiceContainer *{
  margin: 0;
  padding:0;
  color: hsl(0,0%,80%);
}

.timeUp,.timeDown{
  color: hsl(0,0%,50%);
}

.timeContainer{
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: hsl(0,0%,10%);
}

.timeContainer p{
  font-size: 7rem;
  line-height: 7rem;
  text-align: center;
  letter-spacing: 1rem;
  font-family: monospace;
}

.split{
  height: 100%;
  width: 0.25rem;
  position: absolute;
  left:calc(50% - 0.125rem);
  background-color: hsl(0,0%,80%);
}

.split::before{
  content:"";
  width: 100%;
  height: 100%;
  position: absolute;
  left:0;
  top:0;
  background: linear-gradient(
    180deg, 
    hsl(0,0%,5%) 0%, 
    rgba(0,0,0,0) 45%, 
    rgba(0,0,0,0) 55%, 
    hsl(0,0%,5%) 100%
  );
}

.timeContainer::before{
  content:"";
  width: 100%;
  height: 100%;
  position: absolute;
  left:0;
  top:0;
  background: linear-gradient(
    180deg, 
    hsl(0,0%,5%) 0%, 
    rgba(0,0,0,0) 45%, 
    rgba(0,0,0,0) 55%, 
    hsl(0,0%,5%) 100%
  );
}

.click{
  font-size: 3rem;
  text-align: center;
  color: hsl(0,0%,80%);
}